<h1 class="container">Welcome to the new Angular Project</h1>

<div class="container">
  <h3>Testing the app</h3>

  <div ng-controller="mainController">
    <h2>{{name + '!'}}</h2>

    <hr>
    <hr>

    <div>
      <h1>2 way data binding</h1>
      <!-- 2 way data binding example -->
      <lable>What is your twitter handle?</lable>
      <input type="text" ng-model="twitterName">
      <h3>the name in the input turns into lower case</h3>
      <H2>twitter.com/{{ lowercaseTwitterName() }}</H2>

      <!-- ng-if , ng-show (show in css), ng-hide(hide in) -->

      <!--
      <div class="alert alert-warning" ng-if="twitterName.length < char">
        Need to be more than 5 chars.
      </div>

      or
      -->

      <!-- Add class if the char is lower, ng-show true if char length is lower than char, you can add more than 1 class -->
      <div class="alert" ng-class="{ 'alert-warning': twitterName.length < char }" ng-show="twitterName.length < char">
        Name needs to be over 5 char.
      </div>

    <hr>
    <hr>

    <div>
      <input type='text' id="testA">
    </div>







  </div>
</div>